<div class="profile-container">
  <mat-card class="profile-card">
    <div class="profile-header">
      <button mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="profile-id">{{ profile.id }}</span>
    </div>
    
    <div class="profile-image-container">
      <img [src]="profile.image" alt="{{ profile.name }}" class="profile-image" />
      <span class="image-index">{{profile.id}}/5</span>
    </div>

    <mat-card-content>
      <h2 class="profile-name">{{ profile.name }}</h2>
      <p class="profile-details">{{ profile.age }} Yrs, {{ profile.height }}, {{ profile.language }}, {{ profile.community }}</p>
      <p class="profile-profession">{{ profile.education }}, {{ profile.profession }}, {{ profile.city }}, {{ profile.state }}, {{ profile.country }}</p>
    </mat-card-content>
  </mat-card>
</div>
