<div class="profile-container">
  <mat-card class="profile-card">
    <!-- <div class="profile-header">
      <span class="profile-id">{{ profile.id }}</span>
    </div> -->
    
    <div class="profile-image-container">
      <img [src]="profile.image" alt="{{ profile.name }}" class="profile-image" />
      <span class="image-index">{{profile.id}}/5</span>
    </div>

    <mat-card-content>
      <h2 class="profile-name">{{ profile.name }}</h2>
      <p class="profile-details">{{ profile.age }} Yrs, {{ profile.height }}</p>
      <p class="profile-profession">{{ profile.occupation }}, {{ profile.city }}, {{ profile.state }}</p>
    </mat-card-content>
  </mat-card>
</div>
